@media (max-width: 96em) {
  #index-gallery .gallery-img {
    width: 90%;
    height: 50rem;
  }
}
@media (max-width: 77em) {
  html {
    font-size: 56.25%;
  }
  .step-img {
    width: 55%;
  }
  .step-img-box::before {
    width: 65%;
  }
}
@media (max-width: 68em) {
  html {
    font-size: 50%;
  }
  .homepage-recomendation-icon {
    width: 4rem;
  }
  .recommend-content {
    padding: 12.8rem 4.8rem 9.6rem;
  }
  .aside-gallery {
    padding: 0 6.4rem 6.4rem;
  }
  #index-gallery {
    grid-template-areas:
      "gallery-h3 gallery-h3"
      "img1 img2"
      "img3 img4"
      "img5 img6";
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 60em) {
  .step-img {
    width: 60%;
  }
  .step-img-box::before {
    width: 68%;
  }
  #h1-homepage {
    width: 90vw;
  }
}
@media (max-width: 54em) {
  #homepage header h1 {
    font-size: 6.4rem;
  }
  #homepage-main {
    max-height: 80vh;
  }
  .recommend-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.4rem 9.6rem;
  }
  #recommend-box {
    margin-bottom: 38.4rem;
  }
  .users-recommendation {
    margin: 3.2rem;
  }
  .footer-logo-img {
    width: 16rem;
  }
  #footer {
    grid-template-columns: 1fr 1fr;
  }
  .homepage-footer {
    margin-top: 12.6rem;
  }
  .left-footer-box {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  #franek-main-photo {
    width: 80%;
    height: auto;
  }
  .hours-list-day {
    width: 15vw;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 47%;
  }
  .menu-section,
  .second-menu-section {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
  #h1-homepage {
    width: 80vw;
  }
  .step-img {
    height: 100%;
    width: 80%;
  }
  .step-description {
    line-height: 1.5;
  }
  .heading-secondary {
    font-size: 4.8rem;
  }
  #labirynt-google-map {
    width: 65rem;
    height: 55rem;
  }
}
@media (max-width: 43em) {
  html {
    font-size: 42%;
  }
  .price-list-hour div li {
    padding: 0 3.2rem 0 0;
    line-height: 1.7;
  }
  #recommend-box {
    margin: 9.6rem 0;
  }
  .recommend-content {
    row-gap: 3.2rem;
  }
  #homepage-main {
    max-height: 60vh;
  }
  .homepage-footer {
    margin: 0;
  }
  .contact-aside {
    margin-bottom: 12.8rem;
  }
}
@media (max-width: 38em) {
  .heading-secondary {
    font-size: 4rem;
  }
  #franek-main-photo {
    width: 95%;
  }
  .users-recommendation {
    padding: 4rem;
  }
}
@media (max-width: 33em) {
  html {
    font-size: 38%;
  }
  #index-gallery {
    grid-template-areas:
      "gallery-h3"
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6";
    grid-template-columns: repeat(1, 1fr);
  }
  #homepage-main {
    max-height: 50vh;
  }
  .goTopBtn {
    font-size: 4.8rem;
    padding: 3.2rem;
  }
  #recommend-box {
    margin-bottom: 0;
  }
  .recommend-content {
    padding: 6.4rem;
  }
  .step-img {
    width: 95%;
  }
  .step-description {
    line-height: 1.5;
  }
  .heading-tertiary {
    font-size: 2.8rem;
  }
  #about-us-main {
    row-gap: 8rem;
  }
  #labirynt-google-map {
    width: 80vw;
    height: 40vh;
  }
}
@media (max-width: 31em) {
  html {
    font-size: 35%;
  }
  #homepage-main {
    max-height: 45vh;
  }
  #recommend-box {
    max-height: 80vh;
  }
  #labirynt-google-map {
    width: 70vw;
    height: 30vh;
  }
}
@media (max-width: 28em) {
  html {
    font-size: 30%;
  }
  #logo-photo {
    width: 12.8rem;
  }
  #recommend-box {
    max-height: 90vh;
  }
  .price-list-day {
    width: 25vw;
    padding: 2rem;
  }
  .price-list-hour div li {
    line-height: 1.4;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 28%;
  }
  #footer {
    column-gap: 8rem;
    max-height: 40vh;
  }
  #index-gallery .gallery-img {
    width: 80%;
  }
  .goTopBtn {
    padding: 3.6rem;
  }
}
